extends layout

block content
  div.wrapper
   div.main.main-raised
    .section.section-basic.container
     .container-fluid
      h1 #{__('Coinbase Transactions')}
      p Per risolvere quest'ultimo problema aggiungiamo un campo chiamato Coinbase al sistema di token che tiene conto delle transazioni. In ogni blocco il campo Coinbase dice:"Sono Creati 100 (un numero arbitrario) token di proprietà di Marco (che potrebbe essere l'utente che ha minato il blocco)". Solo gli individui che hanno dei token in proprietà possono inviarli.
      b Ecco quindi che abbiamo creato una nostra cryptovaluta su una Blockchain decentralizzata. 
      br
      br
      a(href='https://cryptotrend.it/introduzione/') Per Continuare ad imparare torna sul nostro sito!
      - var peers = {1: 'A', 2: 'B', 3: 'C'}
      - each peer, chain in peers
       h3 #{__('Peer')} #{peer}
       .row.row-horizon
         - var blocks = []
         - blocks.push({block: 1, chain: chain, nonce: 21454, coinbasevalue: '100.00', coinbaseto: 'Ferruccio', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
         - blocks.push({block: 2, chain: chain, nonce: 147606, coinbasevalue: '100.00', coinbaseto: 'Ferruccio', txs: [{value: '10.00', from: 'Ferruccio', to: 'Marta'},{value: '20.00', from: 'Ferruccio', to: 'Lucas'},{value: '15.00', from: 'Ferruccio', to: 'Giulia'},{value: '15.00', from: 'Ferruccio', to: 'Maria'}], previous: '0000862f21a03158d6a818687dd45f0e1c7fd1933a541837bfa696fe85673ee0'})
         - blocks.push({block: 3, chain: chain, nonce: 51201, coinbasevalue: '100.00', coinbaseto: 'Ferruccio', txs: [{value: '10.00', from: 'Giulia', to: 'Jackson'},{value: '5.00', from: 'Maria', to: 'Jackson'},{value: '20.00', from: 'Lucas', to: 'Grace'}], previous: '000058c7e289b5d93e9f83173c69b6885115a12ef0364b9a119706a5216a9e6d'})
         - blocks.push({block: 4, chain: chain, nonce: 23056, coinbasevalue: '100.00', coinbaseto: 'Ferruccio', txs: [{value: '15.00', from: 'Jackson', to: 'Antonio'},{value: '5.00', from: 'Giulia', to: 'Maria'},{value: '8.00', from: 'Marta', to: 'Jackson'}], previous: '000030bbcbbf4b90b0dcd7a0dd8084d7065d69f51950e353bba9e6bc3d2d4908'})
         - blocks.push({block: 5, chain: chain, nonce: 47012, coinbasevalue: '100.00', coinbaseto: 'Marta', txs: [{value: '2.00', from: 'Jackson', to: 'Alexander'},{value: '6.00', from: 'Antonio', to: 'Carter'},{value: '4.00', from: 'Antonio', to: 'Riley'},{value: '9.95', from: 'Grace', to: 'Katherine'}], previous: '0000548c54d562445b4bf442defabb4392d75554fd3ba9b77654618c6830c702'})
         each block in blocks
          .col-xs-7
            include includes/coinbaseblock.jade

  .footer.container
   .copyrightp.pull-left
     a(href='./tokens')
      button.btn.btn-primary.next-button(data-style='expand-right')
       span.ladda-label Torna Indietro
    
  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val() +
              $('#block'+block+'chain'+chain+'coinbasevalue').val() +
              $('#block'+block+'chain'+chain+'coinbaseto').val();

      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
