extends layout

block content
  div.wrapper
   div.main.main-raised
    .section.section-basic
     .container

      h1 SHA256 #{__('Hash')}
      p Prova ad inserire del testo qui sotto: 

      .well#well1
       form.form-horizontal

        .form-group
          label.col-sm-2.control-label(for='data') #{__('Data')}:
          .col-sm-10
            textarea#data.form-control(rows='10', onkeyup='$("#hash").val(sha256())', placeholder=' Scrivi qualcosa..')

        .form-group
          label.col-sm-2.control-label(for='hash') #{__('Hash')}:
          .col-sm-10
            input#hash.form-control(type='text', disabled)

      p Man mano che inserisci del testo il codice che vedi sotto cambia, giusto? 

      p Il codice sotto, infatti è un'impronta digitale dei dati inseriti.
      p È unica per ogni combinazione di dati che inserisci. 
      p Usando il codice generato possiamo identificare i dati inseriti.

      p Solo scrivendo gli stessi dati riusciamo a generare la stessa chiave.

      h2 Cos'è un algoritmo di hashing?
      p Un algoritmo di hashing idealmente è un algoritmo che dato dell'input genera una chiave sempre uguale. E dati input diversi non genera mai la stessa chiave. 
      p Quando due input diversi generano una stessa chiave abbiamo una collisione. Un buon algoritmo di hashing idealmente non genera collisioni.
      p L'algoritmo usato su questa pagina si chiama SHA256 ed è uno degli algoritmi di hashing più utilizzati al momento.

  .footer.container
    .copyright
     p.pull-right
      a(href='./block') Prossima Sezione
  br
  script.
    function getText(block, chain) {
      return $('#data').val();
    }

    $("#hash").val(sha256());
