extends layout

block content
  div.wrapper
   div.main.main-raised
    .section.section-basic
     .container
       .row
        .col-md-6.col-md-offset-3
         h1 Lezione di Blockchain
     div.container
       h2 Introduzione:
       p Hai appena finito di leggere i nostri articoli introduttivi, ma non hai ancora le idee chiare su come funziona una cryptovaluta? Su questo sito creeremo in 10 minuti, prima la tua Blockchain e successivamente una cryptovaluta. Avrai modo di consolidare le tue conoscenze mettendo le mani su queste tecnologie rivoluzionarie. 
       blank Clicca 
       a(href='/hash') qui per cominciare
       br
   
   br
   br
   .footer.container
    .copyright
     p.pull-right Made with 💚 by 
      a(href='http://cryptotrend.it/') CryptoTrend.it 
      