extends layout

block content
  div.wrapper
   div.main.main-raised
    .section.section-basic
     .container
       .row
        .col-md-6
         h1 Lezione di Blockchain
     div.container
       h2 Introduzione:
       p Hai appena finito di leggere i nostri articoli introduttivi, ma non hai ancora le idee chiare su come funziona una cryptovaluta? Su questo sito creeremo in 10 minuti, prima la tua Blockchain e successivamente una cryptovaluta. Avrai modo di consolidare le tue conoscenze mettendo le mani su queste tecnologie rivoluzionarie. 
       a(href='/hash')
        button.btn.btn-primary.next-button(data-style='expand-right')
         span.ladda-label Comincia Subito!
   
   br
   br
   .footer.container
    .copyright
     p.pull-right Made with ❤ by  
      a(href='http://cryptotrend.it/') CryptoTrend
